<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add lot page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<header>
    <div class="top-bar"><strong>Add a new Lot</strong></div>
</header>
<body>
    <div class="section-title">
        <h2 class="heading">Add lot</h2>
        <form class="forms2" method="POST">

        <label>Prime Location:</label>
        <input type="text" name="location"  required>

        <label >Address:</label>
        <textarea id="address-input" rows="2" name="address" required></textarea>

        <label>Pin code:</label>
        <input type="number" name="code" required>

        <label>City:</label>
        <input type="text" name="city" value="{{ city }}" {% if city %}readonly{% endif %} required>

        <label>Price per unit hour:</label>
        <input type="text" name="price" required>

        <label>Number of Spots:</label>
        <input type="number" name="spot_no" required>

        <button type="submit" class="f2btn">Add</button>
        <a href="{{ url_for('admin_dashboard', user_id=user.id) }}" class="f2btn">Cancel</a>
    </form>
  </div>
</body>
</html>


