<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<header>
     <div class="top-bar"><strong>Booking Page</strong></div>
</header>

<body>
   <div class="section-title">
        <h2 class="heading">Confirm your Booking</h2>

        <form method="POST">
            <table>
                <tr><th>Spot ID</th><td>{{ spot.id }}</td></tr>
                <tr><th>Spot Name</th><td>{{ spot.spot_name }}</td></tr>
                <tr><th>Lot ID</th><td>{{ lot.id }}</td></tr>
                <tr><th>Lot Name</th><td>{{ lot.address }}, {{ lot.prime_location_name }}, {{ lot.city }}</td></tr>
                <tr><th>User ID</th><td>{{ user_id }}</td></tr>
                <tr>
                    <th>Vehicle Number</th>
                    <td><input type="text" name="vehicle_number" required id="blank"
                        placeholder="Type in Capital letters e.g. RJ14CA4321" 
                        pattern="[A-Z]{2}[0-9]{2}[A-Z]{1,2}[0-9]{4}"
                        style="padding: 8px; border-radius: 5px; width: 60%; font-size: 15px;">
                    </td>
                </tr>
            </table>

            <br>
            <button type="submit" class="btn">Reserve</button>
            <a href="{{ url_for('user_dashboard', user_id=user_id) }}" class="btn">Cancel</a>
        </form>
    </div>
</body>
</html>