<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Release spot page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<header>
    <div class="top-bar"><strong>Releasing Page</strong></div>
</header>
<body>
     <div class="section-title">
        <h2 class="heading">Release the parking spot</h2>
        <form method="POST">
            <table>
                <tr><th>Spot ID</th><td>{{ res.spot.id }}</td></tr>
                <tr><th>Vehicle Number</th><td>{{ res.vehicle_number }}</td></tr>
                <tr><th>Parking Time</th><td>{{ res.parking_time.strftime('%H:%M:%S  %d-%m-%y') }}</td></tr>
                <tr><th>Leaving Time</th><td>{{ current_time.strftime('%H:%M:%S  %d-%m-%y') }}</td></tr>
                <tr><th>User ID</th><td>{{ res.user_id }}</td></tr>
                <tr><th>Total Cost</th><td>₹{{ total_cost}}</td></tr>
            </table>

            <br>
            <button type="submit" class="btn" onclick="window.location.href='/user_dashboard'">Release</button>
            <a href="{{ url_for('user_dashboard', user_id=res.user_id) }}" class="btn">Cancel</a>
        </form>
    </div>
</body>
</html>