<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Registered Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<header>
  {% include 'admin_navbar.html' %}
</header>

<body>
    <div class="section-title">
        <h2 class="heading">Users Details</h2>
            <table border="1" cellpadding="10" cellspacing="0" >
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Pin Code</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td> {{ user.email }} </td>
                    <td> {{ user.full_name }} </td>
                    <td> {{ user.address }} </td>
                    <td> {{ user.pin_code }} </td>
                </tr>
                {% endfor %}
            </table>
    </div>
    
</body>
</html>