<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="section-title">
        <h1 class="heading" style="margin-top: 90px ;" ><b>Welcome to Vehicle Parking App</b></h1>

        <div style="text-align:center; margin: 40px ;">
            <a href="/login" class="btn"><b>Login as Existing user</b></a><br><br></center>
            <a href="/register" class="btn"><b>Create new Account</b></a></center>
        </div>
    </div>
</body>
</html>
